@media screen and (max-width: 670px) {
    .with_form form input {
        width: 350px;
    }
    .with_form form p {
        width: 330px;
    }
}

@media screen and (max-width: 600px) {
    .with_form form input,
    .text {
        width: 360px;
    }
}

@media screen and (max-width: 500px) {
    .with_form form input,
    .text,
    .button {
        width: 300px;
    }
    .with_form {
        padding: 15px !important;
    }
}

@media screen and (max-width: 400px) {
    .with_form form p {
        width: 240px;
    }
    .with_form {
        padding: 20px !important;
    }
}

@media screen and (max-width: 360px) {
    .with_form form input,
    .button {
        width: 220px;
    }
    .with_form form p {
        width: 220px;
    }
    .with_form {
        padding: 20px !important;
    }
}

@media screen and (max-width: 320px) {
    .with_form form input {
        width: 210px;
    }
    .with_form form p {
        width: 170px;
    }
    .with_form form .button {
        width: 250px;
    }
    .with_form h1 {
        font-size: 40px;
    }



}

}